# copy this file to .env (.gitignored) and fill in the values
PROXY_MODE=
DB_TOKEN=
GAGS_USERNAME=
GAGS_PASSWORD=
SESSION_COOKIE_SECRET=
TOKEN_SECRET= # has to be exactly 32 chars long
TOKEN_EXPIRATION_TIME_MINUTES= # expiration time in minutes (e.g. 60m), ideally this should match the one at Entra ID, or at least should be smaller than that value
TOKEN_COOKIE_NAME= # name of the cookie that saved the JWE
APP_USER_AGENT_STRING=
MSAL_DOMAIN_NAME=
MSAL_APP_CLIENT_ID=
MSAL_CLIENT_SECRET=
REDIRECT_URI=
SIGN_UP_SIGN_IN_FLOW=
