# copy this file to .env (.gitignored) and fill in the values
DOMAIN= # domain, fallback to localhost
PROXY_MODE= # enable/disable proxy mode
DB_TOKEN= # dropbox token
GAGS_USERNAME= # nodemailer email
GAGS_PASSWORD= # nodemailer password
SESSION_COOKIE_SECRET= # encryption secret for session cookies
TOKEN_SECRET= # this_has_to_be_exactly_32_chars_
TOKEN_EXPIRATION_TIME_MINUTES= # expiration time in minutes, ideally this should match the one at Entra ID, or at least should be smaller than that value, fallback to '60m'
TOKEN_COOKIE_NAME= # name of the cookie that saves the JWE
APP_USER_AGENT_STRING= # app user agent string to detect if request comes from Capacitor App
MSAL_DOMAIN_NAME= # domain name of Entra External ID
MSAL_APP_CLIENT_ID= # client_id of Entra External ID
MSAL_CLIENT_SECRET= # client_secret of Entra External ID
REDIRECT_URI= # redirect uri after authentication actions
SIGN_UP_SIGN_IN_FLOW= # SUSI auth flow
POST_LOGOUT_REDIRECT_URI= # redirect uri after logout
